# Archivos y carpetas generados por Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Archivos temporales de Windows
*.tmp
*~

# Archivos de Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Archivos de entornos virtuales (común en desarrollo)
venv/
ENV/
.env
.venv
env/

# Archivos de logs y salidas
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Archivos de compilación (si aplica)
dist/
build/
out/
