include ./partials/head.html
body    
    //- HEADER
    include ./partials/cabecera.html
    //- MAIN
    block content
    //- FOOTER
    include ./partials/footer.html
    include ./partials/scripts.html