extends ../no_compile/layout.pug

block cabecera
    include ../no_compile/partials/cabecera.html

block content 
    main.main-content 
        .container.py-4 
            h1 Buscador
            select(id="categorias").form-select
                option(value="" selected disabled) Todas las categorias
            button.btn.btn-outline-primary.w-100(type="button" id="btnGuardar") Guardar Categoria
        hr
        .container.py-4
            h3 Ocho aleatorias
            .row.row-cols-1.row-cols-md-2.row-cols-xl-4.g-4(id="ochoAleatorias")

        include ../no_compile/partials/usuario.html

block scripts
    <script type="module" src="dist/receta.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
