<h2>Categorías de Comidas</h2>
<select class="form-select" id="categorias" (change)="onCategorieChange($event)">
  <option value="" selected="selected" disabled="disabled">Todas las categorias</option>
  @for (categoria of categorias(); track $index) {
  <option value="{{ categoria }}" [selected]="categoriaSeleccionada() === categoria">{{ categoria }}</option>
  }
</select>

<br>

@if(isAuthenticated()){
<button (click)="saveCategory()"
  [class]="categoriaGuardar()" type="button" id="btnGuardarCategoria"
  [disabled]='categoriaSeleccionada() === ""'>Guardar Categoría
</button>
}

<br>
<br>

@if (cargando()) {
<div class="loading-wrapper d-flex flex-column align-items-center justify-content-center py-5">
  <!-- Texto con estilo -->
  <div class="text-center">
    <h2 class="loading-title">Cocinando tus recetas...</h2>
    <p class="text-muted loading-subtitle">Buscando los mejores ingredientes para ti</p>
  </div>

  <!-- Contenedor de la animación -->
  <div class="image-container mb-4">
    <img src="Img/original-2592ea05b1d4d90b158edf08be665990.gif" alt="Cargando recetas" class="img-fluid custom-loader">
  </div>

</div>
} @else {
<h2>Recetas</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4" id="ochoAleatorias">
  @for (receta of listaRecetas(); track receta.idMeal) {
  <div class="card" [id]="receta.idMeal">
    <img [src]="receta.strMealThumb" class="card-img-top" [alt]="receta.strMeal" />

    <div class="card-body">
      <h5 class="card-title">{{ receta.strMeal }}</h5>

      <p class="card-text">
        <strong>Categoría:</strong> {{ receta.strCategory }}<br />
        <strong>País:</strong> {{ receta.strArea }}<br />
        <!-- Llamamos a una función o getter para contar ingredientes -->
        <strong>Ingredientes:</strong> {{ receta.ingredients.length }} diferentes
      </p>
      @if(isAuthenticated()){

      <div class="d-flex gap-2">
        <form action="details/{{ receta.idMeal }}" method="GET" class="flex-fill">
          <input type="submit" value="Detalles" class="btn btn-outline-primary w-100">
        </form>
        <button (click)="saveCategory()" class="btn btn-outline-primary flex-fill" type="button">
          Guardar
        </button>
      </div>

      }
    </div>
  </div>
  }
</div>
}
